<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.module.dao.PetsMatchingListMapper">
  <resultMap id="BaseResultMap" type="com.zh.module.entity.PetsMatchingList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pet_list_id" jdbcType="INTEGER" property="petListId" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="buy_user_id" jdbcType="INTEGER" property="buyUserId" />
    <result column="sale_user_id" jdbcType="INTEGER" property="saleUserId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="inactive_time" jdbcType="TIMESTAMP" property="inactiveTime" />
    <result column="appointment_start_time" jdbcType="VARCHAR" property="appointmentStartTime" />
    <result column="appointment_end_time" jdbcType="VARCHAR" property="appointmentEndTime" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pet_list_id, level, buy_user_id, sale_user_id, amount, state, pay_time, inactive_time, 
    appointment_start_time, appointment_end_time, img_url, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.zh.module.entity.PetsMatchingList">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pets_matching_list (pet_list_id, level, buy_user_id, 
      sale_user_id, amount, state, 
      pay_time, inactive_time, appointment_start_time, 
      appointment_end_time, img_url, create_time, 
      update_time)
    values (#{petListId,jdbcType=INTEGER}, #{level,jdbcType=TINYINT}, #{buyUserId,jdbcType=INTEGER},
      #{saleUserId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{state,jdbcType=TINYINT}, 
      #{payTime,jdbcType=VARCHAR}, #{inactiveTime,jdbcType=TIMESTAMP}, #{appointmentStartTime,jdbcType=VARCHAR}, 
      #{appointmentEndTime,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.module.entity.PetsMatchingList">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pets_matching_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="petListId != null">
        pet_list_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="buyUserId != null">
        buy_user_id,
      </if>
      <if test="saleUserId != null">
        sale_user_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="inactiveTime != null">
        inactive_time,
      </if>
      <if test="appointmentStartTime != null">
        appointment_start_time,
      </if>
      <if test="appointmentEndTime != null">
        appointment_end_time,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="petListId != null">
        #{petListId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="buyUserId != null">
        #{buyUserId,jdbcType=INTEGER},
      </if>
      <if test="saleUserId != null">
        #{saleUserId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="inactiveTime != null">
        #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointmentStartTime != null">
        #{appointmentStartTime,jdbcType=VARCHAR},
      </if>
      <if test="appointmentEndTime != null">
        #{appointmentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.module.entity.PetsMatchingList">
    update pets_matching_list
    set pet_list_id = #{petListId,jdbcType=INTEGER},
      level = #{level,jdbcType=TINYINT},
      buy_user_id = #{buyUserId,jdbcType=INTEGER},
      sale_user_id = #{saleUserId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      state = #{state,jdbcType=TINYINT},
      pay_time = #{payTime,jdbcType=VARCHAR},
      inactive_time = #{inactiveTime,jdbcType=TIMESTAMP},
      appointment_start_time = #{appointmentStartTime,jdbcType=VARCHAR},
      appointment_end_time = #{appointmentEndTime,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.module.entity.PetsMatchingList">
    update pets_matching_list
    <set>
      <if test="petListId != null">
        pet_list_id = #{petListId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="buyUserId != null">
        buy_user_id = #{buyUserId,jdbcType=INTEGER},
      </if>
      <if test="saleUserId != null">
        sale_user_id = #{saleUserId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="inactiveTime != null">
        inactive_time = #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointmentStartTime != null">
        appointment_start_time = #{appointmentStartTime,jdbcType=VARCHAR},
      </if>
      <if test="appointmentEndTime != null">
        appointment_end_time = #{appointmentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pets_matching_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pets_matching_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pets_matching_list
    where 1=1 
    <if test="petListId != null">
       and  pet_list_id = #{petListId,jdbcType=INTEGER}
    </if>
    <if test="level != null">
       and  level = #{level,jdbcType=TINYINT}
    </if>
    <if test="buyUserId != null">
       and  buy_user_id = #{buyUserId,jdbcType=INTEGER}
    </if>
    <if test="saleUserId != null">
       and  sale_user_id = #{saleUserId,jdbcType=INTEGER}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="payTime != null">
       and  pay_time = #{payTime,jdbcType=VARCHAR}
    </if>
    <if test="inactiveTime != null">
       and  inactive_time = #{inactiveTime,jdbcType=TIMESTAMP}
    </if>
    <if test="appointmentStartTime != null">
       and  appointment_start_time = #{appointmentStartTime,jdbcType=VARCHAR}
    </if>
    <if test="appointmentEndTime != null">
       and  appointment_end_time = #{appointmentEndTime,jdbcType=VARCHAR}
    </if>
    <if test="imgUrl != null">
       and  img_url = #{imgUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pets_matching_list
    where 1=1 
    <if test="petListId != null">
       and  pet_list_id = #{petListId,jdbcType=INTEGER}
    </if>
    <if test="level != null">
       and  level = #{level,jdbcType=TINYINT}
    </if>
    <if test="buyUserId != null">
       and  buy_user_id = #{buyUserId,jdbcType=INTEGER}
    </if>
    <if test="saleUserId != null">
       and  sale_user_id = #{saleUserId,jdbcType=INTEGER}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="payTime != null">
       and  pay_time = #{payTime,jdbcType=VARCHAR}
    </if>
    <if test="inactiveTime != null">
       and  inactive_time = #{inactiveTime,jdbcType=TIMESTAMP}
    </if>
    <if test="appointmentStartTime != null">
       and  appointment_start_time = #{appointmentStartTime,jdbcType=VARCHAR}
    </if>
    <if test="appointmentEndTime != null">
       and  appointment_end_time = #{appointmentEndTime,jdbcType=VARCHAR}
    </if>
    <if test="imgUrl != null">
       and  img_url = #{imgUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from pets_matching_list 
    where 1=1 
    <if test="petListId != null">
       and  pet_list_id = #{petListId,jdbcType=INTEGER}
    </if>
    <if test="level != null">
       and  level = #{level,jdbcType=TINYINT}
    </if>
    <if test="buyUserId != null">
       and  buy_user_id = #{buyUserId,jdbcType=INTEGER}
    </if>
    <if test="saleUserId != null">
       and  sale_user_id = #{saleUserId,jdbcType=INTEGER}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="payTime != null">
       and  pay_time = #{payTime,jdbcType=VARCHAR}
    </if>
    <if test="inactiveTime != null">
       and  inactive_time = #{inactiveTime,jdbcType=TIMESTAMP}
    </if>
    <if test="appointmentStartTime != null">
       and  appointment_start_time = #{appointmentStartTime,jdbcType=VARCHAR}
    </if>
    <if test="appointmentEndTime != null">
       and  appointment_end_time = #{appointmentEndTime,jdbcType=VARCHAR}
    </if>
    <if test="imgUrl != null">
       and  img_url = #{imgUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <select id="selectByPetListIdAndActive" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pets_matching_list
    where pet_list_id = #{id,jdbcType=INTEGER} and (state =1 or state =2)
  </select>

  <select id="selectListPaging" parameterType="java.util.Map" resultType="map">
    SELECT pm.id, p.img_url, p.name, pl.pets_number, pm.state, pl.price, pl.profit_days, pl.profit_rate, pl.start_time, pm.appointment_start_time,pm.appointment_end_time FROM pets_matching_list pm LEFT JOIN pets p ON p.level = pm.level LEFT JOIN pets_list pl ON pm.pet_list_id = pl.id
    where buy_user_id = #{userId}
    <if test="state != null">
      <if test="state == 0">
        and  (pm.state = 1 or pm.state = 2)
      </if>
      <if test="state == 1">
        and  pm.state = 3
      </if>
    </if>
    order by pm.id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectOverPaging" parameterType="java.util.Map" resultType="map">
    SELECT pm.id, p.img_url, p.name, pl.pets_number, pl.price, pl.profit_days, pl.profit_rate, pl.start_time, pm.update_time FROM pets_matching_list pm LEFT JOIN pets p ON p.level = pm.level LEFT JOIN pets_list pl ON pm.pet_list_id = pl.id
    where sale_user_id = #{userId} and pm.state = 5
    order by pm.id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>

</mapper>